@page "/countries"

<h3>Países</h3>
@if (Countries is null)
{
    <p>Carregando...</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <td>País</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Countries!)
            {
                <tr>
                    <td>@country.Name   </td>
                    <td>
                        <a class="btn btn-warning">Editar</a>
                        <button class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
